h4 {
    color:gray;

    span {
    color: blue;
    }
}   




.initiallyHidden { display: none; }

#logoutbtn {
    position:right;
    float: right;
}
.savedtrip{
    display: inline-block;

}

#searchform{
    width:100%;
}
