h4 {
  color: gray; }
  h4 span {
    color: blue; }

.initiallyHidden {
  display: none; }

#index-background { 
  background: url(/static/images/index_img.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-header{
  width: 90%;
  display: inline-block;
  opacity: 0.5;
  background-color: white;
  border-radius: 10px 0 0 10px;
  margin: 40px 40px 0 40px;
}

.index-header h1{
  margin: 40px;
  font-style: italic;
  color:black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;

}
.index-header h2{
  margin: 0 40px 40px 40px;
  font-style: italic;
  color:black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;

}

.login{
  margin: 40px 0 40px 40px;
}

.loginbtn{
  margin: 20px 0;
}
.register{
  margin: 40px 40px 40px 40px;
}

.registerbtn{
  margin: 20px 0;
}

.row .col-lg-6 #flight_id {
          color: transparent; }

#logoutbtn {
    float: right; }

.savedtrip {
  display: inline-block;
  margin: 20px;
  border-color: brown;
  border-radius: 10px }

.viewtripbtn{
  margin:10px 0;
}

#searchform {
        width: 100%; }



#lodging_id {
  color: transparent; }

#saved_trip_img{
  height: 100px;
  
}
.inlineform{
  display: inline-block;
}

.flightdiv{
  border-color: brown;
  border-width: 10px
  border-radius: 20px;
  padding: 20px;
}

.thumbnails {
      display: inline-block; }
.thumbnails img {
    height: 50px;
    border: 1px solid #555;
    padding: 1px;
    margin: 0 8px 8px 0;
    border-radius: 2px;
  }


.thumbnails img:hover {
    border: 2px solid #00ccff;
    cursor:pointer;
  }

.preview img {
    border: 2px solid #444;
    padding: 1px;
    width: 400px;
    border-radius: 2px;
  }