/*style for index page*/

.initiallyHidden {
  display: none; }

#index-background { 
  background: url(/static/images/index_img.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}


.index-header{
  width: 90%;
  display: inline-block;
  opacity: 0.5;
  background-color: white;
  border-radius: 10px 0 0 10px;
  margin: 40px 40px 0 40px;
}

.index-header h1{
  margin: 40px;
  font-style: italic;
  color:black;
  font-weight:bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;

}
.index-header h2{
  margin: 0 40px 40px 40px;
  font-style: italic;
  color:black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;

}

.login{
  margin: 40px 0 40px 40px;
}

.loginbtn{
  margin: 20px 0;
}
.register{
  margin: 40px 40px 40px 40px;
}

.registerbtn{
  margin: 20px 0;
}

.row .col-lg-6 #flight_id {
          color: transparent; }

#logoutbtn {
    float: right;
    margin: 0px 20px 5px 5px; }


/*style for base.html*/

#base-background {
  background: url(/static/images/base_img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*style for user homepage*/

.savedtrip {
  position:relative;
  width: 20%;
  display: inline-block;
  background-color: rgba(225, 225, 225, 0.9);
  margin: 20px;
  padding: 10px;
  border: 3px solid #ffe0b3; 
  border-radius: 10px;
  text-align: center; }

#saved_trip_img{
  height: 100px;
  border:3px solid #ffe0b3;
  border-radius: 4px; 
  }

.viewtripbtn{
  margin:10px 0;
}

#searchform {
        width: 100%;
        }

button#searchbtn{
  margin: 10px 0;
}

/*style for resulte page and saved trip page*/

.resultheader h2{
  font-style: italic;
  font-weight:bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}
.resultheader h2 span{
  color:#c11b05;
}

#lodging_id {
  color: transparent; }


.inlineform{
  display: inline-block;
}

.infodiv{
  text-align: center;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  background-color: rgba(225, 225, 225, 0.8);
  border: 3px solid #ffe0b3; 
  border-radius: 10px;
}
.infodiv a p{
  font-weight:bold;
}
.infodiv .flighttitle{
  font-weight:bold;
}

.infodiv img{
  height:300px;
  border:  2px solid #ffe0b3;
  margin: 5px;
  border-radius: 2px;
}

 /*style for view city page*/

 .gallerypage{
  min-height:800px;
 }
 .gallerytitle{
  font-weight: bold;
  margin:20px;
 }
 .gallerytitle h2{
  font-weight:bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;

 }

.thumbnails {
      display: inline-block; }
.thumbnails img {
    height: 50px;
    border: 1px solid #ffe0b3;
    padding: 1px;
    margin: 0 8px 8px 0;
    border-radius: 2px;
  }
.homebutton{
  margin: 10px;
  display: inline-block;
}

.thumbnails img:hover {
    border: 2px solid #00ccff;
    cursor:pointer;
  }
.preview h4{
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

.preview img {
    border: 3px solid #00ccff;
    padding: 2px;
    width: 400px;
    border-radius: 3px;
  }