h4 {
  color: gray; }
  h4 span {
    color: blue; }

.initiallyHidden {
  display: none; }

.row .col-lg-6 #flight_id {
          color: transparent; }

#logoutbtn {
    float: right; }

    .savedtrip {
      display: inline-block; }

      #searchform {
        width: 100%; }



#lodging_id {
  color: transparent; }

#saved_trip_img{
  height: 100px;
  
}

/*.thumbnails{
      display: inline-block; }*/