<html>
<head>
    <title>I am Feeling Lucky</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div id="base-background">



<div class="alert alert-warning">
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
</div>

<div id="logoutbtn">
      <a href="/logout" class="btn btn-warning" role="button">logout</a>
    </div>




{% block content %}
{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
