<html>
<head>
    <title>I am Feeling Lucky</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<a href="/logout">Logout</a>

<div>
    <ul>
      {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
      {% endfor %}
    </ul>
</div>
<div>
{% block content %}
{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>