{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-6 col-xs-12 resultheader">
<h2>You are going to <span>{{destination_city}}<span></h2>
</div>
</div>


<div class="row">
<div class="col-md-5 col-md-offset-1 col-xs-12 infodiv" >
    <h4>Flight</h4>
    <img src={{map_result}}>
    <p class="flighttitle">{{trip_details.flight.departure_airport}} to {{trip_details.flight.destination_airport}}</p>
    <p>Departure Flight: </p> 
    <p> {{trip_details.flight.outbound_carrier_id}} {{trip_details.flight.outbound_flight_number}} {{trip_details.flight.outbound_departure_time}} | {{trip_details.flight.outbound_arrival_time}}</p> 
    <p>Return Flight: </p>
     <p> {{trip_details.flight.inbound_carrier_id}} {{trip_details.flight.inbound_flight_number}} {{trip_details.flight.inbound_departure_time}} | {{trip_details.flight.inbound_arrival_time}}</p> 
    <p>Carrier: {{trip_details.flight.carrier}}</p>
    <p>Price : {{trip_details.flight.flight_price}}</p>
</div>


<div class="col-md-5 col-xs-12 infodiv" >
<h4>Airbnb</h4>
<img src="{{trip_details.lodging.picture_url}}"><br>
<a href="https://www.airbnb.com/rooms/{{trip_details.lodging.airbnb_id}}" target="_blank"><p>Airbnb Link</p></a>
<p>Address: {{trip_details.lodging.address}}</p> 
<p>Price: USD{{trip_details.lodging.price}}</p>


</div>
</div>

<div class="row">
<div class="col-lg-6 col-xs-12">
 <form action="/home" class="inlineform">
    <input type="submit" class="btn btn-info" value="Home" />
</form>

<form action='/home/{{trip_details.trip_id}}/delete' method="POST" class="inlineform">
    <input type="submit" class="btn btn-info" id="delete-button" value="Delete" />
</form> 



<a href="/view-city/{{destination_city}}" class="btn btn-info" role="button">View City</a>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>


<script>
    "use strict";


    function confirmDelete(evt){
        var answer = confirm("Are you sure you want to delete the trip?");
        if (answer){
            alert("Your trip will be deleted.");
        }
        else{
            evt.preventDefault();
        }
    }
           
    $('#delete-button').on('click', confirmDelete);
</script>


{% endblock %}